@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-work: "Work Sans", sans-serif;

  --color-purple-950: #301534;
  --color-purple-600: #8b6990;
  --color-purple-100: #f8eeff;
  --color-violet-600: #ad28eb;
}
